  {% for question in sect.elements %}
<div id="{{ sect[0] | append: '-grp' }}" class="ui-field-contain ui-corner-all">
  <div class="ui-bar ui-bar-a">
    <h3><label for="{{ question.id }}">{{ question.description | capitalize}}</label></h3>
  </div>
  <div class="ui-body ui-body-a">
  {% case question.type %}
    {% when "select" %}
    <fieldset data-role="controlgroup">
    {% for op in question.details.options %}
      <input type="checkbox" id="{{ op[0] }}" name="{{ op[0] }}">
      <label for="{{ op[0] }}">{{ op[1] }}</label>
    {% endfor %}
    </fieldset>
    {% when "slider" %}
    <input type="range" name="{{ question.id }}" id="{{ question.id }}" value="{{ question.details.default }}" min="{{ question.details.min }}" max="{{ question.details.max }}" />
    {% when "radio" %}
    <fieldset>
      {% for op in question.details.options %}
      <label for="{{ op[0] }}">{{ op[1] }}</label>
      <input type="radio" id="{{ op[0] }}" name="{{ question.id }}" value="{{ op[1] }}" />
      {% endfor %}
    </fieldset>
    {% when "textarea" %}
    <textarea type="textarea" id="{{ op[0] }}" name="{{ question.id }}"></textarea>
    {% else %}
    <input type="text" id="{{ op[0] }}" name="{{ question.id }}" />  
  {% endcase %}
  </div>
</div>
  {% endfor %}
