<fieldset class="ui-grid-a">
  <div class="ui-block-a">
    <div class="ui-corner-all">
    <div class="ui-body ui-body-a" style="text-align:center;">
      <a href="#philosophers" data-theme="a" class="ui-button">
        <h2 class="ui-bar ui-bar-a">Choose from the Philosopher Series</h2>
        <img src="/images/kant2-min.jpg" style="width:300px;">
      </a>
    </div>
    </div>
  </div>
  <div class="ui-block-b">
  <div class="ui-corner-all">
    <div class="ui-body ui-body-a" style="text-align:center;">
      <a href="#body-page" data-theme="b" class="ui-button">
        <h2 class="ui-bar ui-bar-a">Construct your own</h2>
        <img src="/images/construct.png" style="width:300px;"></a>
    </div>
  </div>
  </div>
</fieldset>
<a href="mailto:erik@lettherebe.lighting" class="ui-btn ui-btn-c">Or email me at erik@lettherebe.lighting</a>
